<!DOCTYPE html>

<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据库操作结果</title>

    <!--script th:inline="javascript">
        /*function showMessage() {
            document.getElementById("person").innerHTML = "Thymeleaf String by JS: " + [[${username}]];
        }*/
    </script-->
</head>
<body>
<div align="center">
    <text style="size: 20px;font-weight: bolder" >操作结果</text>
    <div>
        <span>username: </span>
        <text th:text="${user.username}"></text>
        <!--p id="username"></p-->
    </div>

    <a href="/databaseDetail">查看数据库数据</a>
</div>
</body>
</html>
